<html>
<head><link rel="stylesheet" href="static/geminaistyle.css"></head>
<body>
    <div class="right">
        <a href="/" style="text-decoration:none; color:white;">Home |</a>
        <a href="/about" style="text-decoration:none; color:white;">About the Project |</a>
        <a href="/contact" style="text-decoration:none; color:white;">Contact</a>
    </div>
<a href="/" style="text-decoration:none; color:white;"><h1>GeminAI</h1></a>
<h2>Horoscope Generation with Machine Learning</h2>
<p id='reg'>This project began after learning about various text generation practices in machine learning. Noticing a pattern of how horoscopes tend to be written by many different websites, 
    we thought it would be a fun project to see if a machine could mimic those patterns, and create its own horoscopes. </p>
<p id='reg'>With help from the <b>textgenrnn</b> created by Max Woolf, we have compiled a dataset of horoscopes of each sign from 2013 to 2019, and trained a Recurrent Neural Network to produce new horoscopes.</p>
<p id='reg'>
    Lorem ipsum dolor sit amet, ius ex alia labitur, enim scaevola tractatos pri in. Ornatus nonumes vix ad. Eu summo alterum pro. Pri modo quas audiam te, mel ad sapientem explicari, sea id decore mnesarchum. Ex quem aperiri epicuri eum. Cu quem albucius gubergren usu. At suavitate consetetur pri, vix elit omittam ad.

    At est nibh oblique vulputate, no meliore definitiones vel. Dicat persius quaeque duo id, per veri adhuc posse an. Vix alii liber ut. Nobis option audire id duo, id qui veniam repudiandae.
</p>
</body>
</html>