<html>
<head><link rel="stylesheet" href="static/geminaistyle.css"></head>
<body>
    <div class="right">
            <a href="/" style="text-decoration:none; color:white;">Home |</a>
            <a href="/about" style="text-decoration:none; color:white;">About the Project |</a>
            <a href="/contact" style="text-decoration:none; color:white;">Contact</a>
        </div>
    <a href="/" style="text-decoration:none; color:white;"><h1>GeminAI</h1></a>
    <p id='reg'>Hover over the constellations to find your sign. Click on the constellation to receive your horoscope.</p>
    <!-- <image src="D:\Maya\Desktop\GoogleAMLI\Horoscope\designs\aries_white.png" alt="aries sign"></image> -->
    <div class="grid-container">
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Aries'>
                    <img src="static/aries_white.png" alt="aries sign" title="Aries" style="float:left;width:200px;height:200px;">
                </a>
            </div> 
        </div>
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Taurus'>
                    <img src="static/taurus_white.png" alt="taurus sign" title="Taurus" style="display:inline-block;width:200px;height:200px;">
                </a>
            </div>
        </div>
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Gemini'>
                    <img src="static/gemini_white.png" alt="gemini sign" title="Gemini" style="display:inline-block;width:200px;height:200ppx;">
                </a>
            </div>
        </div>
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Cancer'>
                    <img src="static/cancer_white.png" alt="cancer sign" title="Cancer" style="display:inline-block;width:200px;height:200px;">
                </a>
            </div>
        </div>
        <div class="grid-item">
                <div class="zoom">
                    <a href="/predict", type='Leo'>
                        <img src="static/leo_white.png" alt="leo sign" title="Leo" style="display:inline-block;width:200px;height:200px;">
                    </a>
                </div>
            </div>
        <div class="grid-item">
                <div class="zoom">
                    <a href="/predict", type='Virgo'>
                        <img src="static/virgo_white.png" alt="virgo sign" title="Virgo" style="display:inline-block;width:200px;height:200px;">
                    </a>
                </div>
            </div>
        <div class="grid-item">
                <div class="zoom">
                    <a href="/predict", type='Libra'>
                        <img src="static/libra_white.png" alt="libra sign" title="Libra" style="display:inline-block;width:200px;height:200px;">
                    </a>
                </div>
            </div>
        <div class="grid-item">
                <div class="zoom">
                    <a href="/predict", type='Scorpio'>
                        <img src="static/scorpius_white.png" alt="scorpio sign" title="Scorpio" style="display:inline-block;width:200px;height:200px;">
                    </a>
                </div>
            </div>
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Sagittarius'>
                    <img src="static/sagittarius_white.png" alt="sagittarius sign" title="Sagittarius" style="display:inline-block;width:200px;height:200px;">
                </a>
            </div>
        </div>
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Capricorn'>
                    <img src="static/capricorn_white.png" alt="capricorn sign" title="Capricorn" style="display:inline-block;width:200px;height:200px;">
                </a>
            </div>
        </div>
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Aquarius'>
                    <img src="static/aquarius_white.png" alt="aquarius sign" title="Aquarius" style="display:inline-block;width:200px;height:200px;">
                </a>
            </div>
        </div>
        <div class="grid-item">
            <div class="zoom">
                <a href="/predict", type='Pisces'>
                    <img src="static/pisces_white.png" alt="pisces sign" title="Pisces" style="display:inline-block;width:200px;height:200px;">
                </a>
            </div>
        </div>
    </div>
</body>
</html>